

<div class="grid grid-cols-1">
<button
class="place-content-center mb-1 p-1 rounded-md bg-indigo-800 text-white font-bold"
 formid={{@model.id}}  
 update="false"
 type="submit" 
 {{on "click" (fn @add)}}>Submit Form
</button>
</div>

{{yield}}