{{!-- The following component displays Ember's default welcome message. --}} 
<div class="lg:w-2/3 lg:m-auto">
<nav class="bg-teal-400 font-bold text-white text-xl flex"> 
    <div class="text-center w-full">
    <LinkTo @route="projects">
       🦄 Kelpie
    </LinkTo>
    </div>
    
    </nav>
{{!-- Feel free to remove this! --}}

{{outlet}}
</div>
