

<Scanner />


<p></p>
Scan to...
<Card @title="ðŸšš Dispatch to new destination"/>
<Card @title="ðŸ Receive at destination"/>
<Card @title="ðŸ”’ Set storage location"/>
<Card @title="ðŸ“¥ New batch"/>
<Card @title="ðŸ“‚ New folder"/>
<Card @title="ðŸ—‘ Disposal"/>